In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set_theme()

In [2]:
df = pd.read_csv('./data/bike_sales_100k.csv')

df.head()

,Sale_ID,Date,Customer_ID,Bike_Model,Price,Quantity,Store_Location,Salesperson_ID,Payment_Method,Customer_Age,Customer_Gender
0,1,11-07-2022,9390,Cruiser,318.32,1,Philadelphia,589,Apple Pay,70,Female
1,2,03-05-2024,3374,Hybrid Bike,3093.47,4,Chicago,390,Apple Pay,37,Male
2,3,01-09-2022,2689,Folding Bike,4247.99,3,San Antonio,338,PayPal,59,Female
3,4,28-09-2022,3797,Mountain Bike,1722.01,3,San Antonio,352,Apple Pay,19,Male
4,5,05-01-2021,1633,BMX,3941.44,3,Philadelphia,580,PayPal,67,Female

In [3]:
df.describe()

,Sale_ID,Customer_ID,Price,Quantity,Salesperson_ID,Customer_Age
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,5495.450720,2598.182340,2.997110,549.906300,44.043410
std,28867.657797,2598.873948,1384.943133,1.414235,259.679221,15.313761
min,1.000000,1000.000000,200.010000,1.000000,100.000000,18.000000
25%,25000.750000,3249.000000,1399.787500,2.000000,324.000000,31.000000
50%,50000.500000,5491.000000,2598.575000,3.000000,550.000000,44.000000
75%,75000.250000,7738.000000,3795.982500,4.000000,775.000000,57.000000
max,100000.000000,9999.000000,4999.810000,5.000000,999.000000,70.000000

In [11]:
cat_x1 = df[['Store_Location', 'Payment_Method', 'Customer_Gender']]

x1 = pd.get_dummies(cat_x1, drop_first=True).astype(int)
x1['Customer_Age'] = df['Customer_Age']
x1['Quantity'] = df['Quantity']

x1.head()

,Store_Location_Houston,Store_Location_Los Angeles,Store_Location_New York,Store_Location_Philadelphia,Store_Location_Phoenix,Store_Location_San Antonio,Payment_Method_Cash,Payment_Method_Credit Card,Payment_Method_Debit Card,Payment_Method_Google Pay,Payment_Method_PayPal,Customer_Gender_Male,Customer_Age,Quantity
0,0,0,0,1,0,0,0,0,0,0,0,0,70,1
1,0,0,0,0,0,0,0,0,0,0,0,1,37,4
2,0,0,0,0,0,1,0,0,0,0,1,0,59,3
3,0,0,0,0,0,1,0,0,0,0,0,1,19,3
4,0,0,0,1,0,0,0,0,0,0,1,0,67,3

In [12]:
y = df['Price']

y.head()

0     318.32
1    3093.47
2    4247.99
3    1722.01
4    3941.44
Name: Price, dtype: float64

In [13]:
x = sm.add_constant(x1)

results = sm.OLS(y, x).fit()

results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.5082
Date:                Tue, 01 Oct 2024   Prob (F-statistic):              0.930
Time:                        04:07:06   Log-Likelihood:            -8.6523e+05
No. Observations:              100000   AIC:                         1.730e+06
Df Residuals:                   99985   BIC:                         1.731e+06
Df Model:                          14
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                        2604.4885     22.180    117.426      0.000    2561.016    2647.961
Store_Location_Houston         -4.6639     16.450     -0.284      0.777     -36.906      27.578
Store_Location_Los Angeles     -5.1009     16.461     -0.310      0.757     -37.363      27.162
Store_Location_New York         5.6483     16.346      0.346      0.730     -26.389      37.685
Store_Location_Philadelphia    17.8058     16.398      1.086      0.278     -14.334      49.945
Store_Location_Phoenix          7.1281     16.383      0.435      0.663     -24.982      39.238
Store_Location_San Antonio    -15.2127     16.406     -0.927      0.354     -47.369      16.943
Payment_Method_Cash            -3.9349     15.147     -0.260      0.795     -33.624      25.754
Payment_Method_Credit Card      1.8358     15.157      0.121      0.904     -27.871      31.543
Payment_Method_Debit Card      -3.6210     15.137     -0.239      0.811     -33.290      26.048
Payment_Method_Google Pay       5.5648     15.165      0.367      0.714     -24.159      35.289
Payment_Method_PayPal         -13.2470     15.179     -0.873      0.383     -42.998      16.504
Customer_Gender_Male           -2.9894      8.760     -0.341      0.733     -20.159      14.180
Customer_Age                    0.0120      0.286      0.042      0.966      -0.549       0.573
Quantity                       -1.3224      3.097     -0.427      0.669      -7.393       4.748
==============================================================================
Omnibus:                    86665.142   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5975.487
Skew:                          -0.000   Prob(JB):                         0.00
Kurtosis:                       1.802   Cond. No.                         362.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [14]:
results.params

const                          2604.488503
Store_Location_Houston           -4.663883
Store_Location_Los Angeles       -5.100861
Store_Location_New York           5.648313
Store_Location_Philadelphia      17.805752
Store_Location_Phoenix            7.128125
Store_Location_San Antonio      -15.212694
Payment_Method_Cash              -3.934913
Payment_Method_Credit Card        1.835823
Payment_Method_Debit Card        -3.621047
Payment_Method_Google Pay         5.564821
Payment_Method_PayPal           -13.246968
Customer_Gender_Male             -2.989375
Customer_Age                      0.012014
Quantity                         -1.322438
dtype: float64